/* fonts */

@font-face {
    font-family: "Roboto";
    font-weight: 400; 
    font-style: normal;
    src: local("Roboto"),
         url("../fonts/roboto-regular.woff2") format("woff2"),
         url("../fonts/roboto-regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500; 
    font-style: normal;
    src: local("Roboto Medium 500"),
         url("../fonts/roboto-medium.woff2") format("woff2"),
         url("../fonts/roboto-medium.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700; 
    font-style: normal;
    src: local("Roboto Bold 700"),
         url("../fonts/roboto-bold.woff2") format("woff2"),
         url("../fonts/roboto-bold.woff") format("woff");
}

:root {
    --basic-black:#000;
    --black:#283136;
    --basic-gray: #EEEEEE;
    --n: #ffffff;
    --basic-gray-border: #EEEEEE;
    --basic-border: #D7DCDE;
    --basic-border-hover:#B4B9BB;
    --basic-border-novalid:#E74246;
    --basic-gray-button-hover:#DFDFDF;
    --basic-gray-button-active:#D5D5D5;
    --gray-contacts:#666666;
    --basic-button-red: #FB565A;
    --basic-button-red-hover:#E74246;
    --basic-button-red-active:#D7373B;
    --basic-button-yellow: #EFC849;
    --basic-button-yellow-hover:#EAB534;
    --basic-button-yellow-active:#E5A722;
    --basic-button-green:#00CA74;
    --basic-button-green-hover:#00BC6C;
    --basic-button-green-active: #00AA62;
    --basic-gradient:linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
    --basic-gradient-hover:linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
    --basic-gradient-active:linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
    --basic-white:#FFF;
    --basic-white-opacity30:rgba(255, 255, 255, 0.3);
    --basic-black-opacity30:rgba(0, 0, 0, 0.3);
    --basic-gray-filter:#4D4D4D;
    --basic-shadow:rgba(0, 1, 1, 0.1);
}

/* Global */
body {
    min-width: 1440px;
    margin:0;
    padding:0;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


h1 {
    font-family: "Roboto";
    font-weight: 500;
    margin: 0;
}

h2 {
    margin: 0;
}


/*Grid*/

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    }

.page-header {
        
    }

.page-navigation {
        
        display: grid;
        grid-template-columns: 160px 1fr min-content;
        margin-bottom: 78px;
    }

.navigation-list {
    
}

.page-header-logo {
   
}

.user-navigation {
   
}

.page-footer {
   
}


.wrapper {
margin: 0 auto;
width: 1160px;

}


.page-bar {
    background-color: var(--basic-gray);
}

.features {
    display: grid;
    grid-template-columns: 1fr 760px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "span img"
        "p img"
        "a img";
    margin-bottom: 73px;
}

.features-grid-span {
    grid-area: span;
}

.features-grid-p {
    grid-area: p;
}

.features-grid-a {
    grid-area: a;
}

.features-grid-img {
    grid-area: img;
}


.products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    padding: 0;
    margin: 0;
    margin-bottom: 129px;
}


.products-list:last-child {
    margin-right: 60px;
}

.products-item {
    display: grid;
}

.product-img1 {
    order: -1;
    margin-bottom: 25px;
}

.product-img2 {
    order: -1;
    margin-bottom: 25px;
}

.product-img3 {
    order: -1;
    margin-bottom: 25px;
}

.products-item h3 {
    margin-bottom: 16px;
}

.products-item p {
    margin-bottom: 32px;
}

.products-item a {
    width: 160px;
    height: 50px;
}










.hidden {
    display: none;
}

.button {
    text-transform: uppercase;
    text-align: center;
    color:var(--basic-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border: none;
    border-radius: 3px;
}

.button:active {
    box-shadow: inset 0px 3px 0px var(--basic-shadow);
}


.button-red {
    background-color: var(--basic-button-red);
}

.button-red:hover {
    background-color: var(--basic-button-red-hover);
}

.button-red:active {
    background-color: var(--basic-button-red-active);
    color:var(--basic-white-opacity30);
}

.button-green {
    background-color: var(--basic-button-green);
}

.button-green:hover {
    background-color: var(--basic-button-green-hover);
}

.button-green:active {
    background-color: var(--basic-button-green-active);
    color:var(--basic-white-opacity30);
}

.button-yellow {
    background-color: var(--basic-button-yellow);
}

.button-yellow:hover {
    background-color: var(--basic-button-yellow-hover);
}

.button-yellow:active {
    background-color: var(--basic-button-yellow-active);
    color:var(--basic-white-opacity30);
}

.button-gray {
    background-color: var(--basic-gray);
}

.button-gray:hover {
    background-color: var(--basic-gray-button-hover);
}

.button-gray:active {
    background-color: var(--basic-gray-button-active);
    color:var(--basic-black-opacity30);
}
.content {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

/* Main navigation*/
.page-header {
    background-color: var(--basic-gray);
}

.page-navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color:var(--basic-black);
}

.main-header-logo {
    background-color: var(--basic-gray);
}

.navigation-list {
    list-style: none;
}

.page-navigation a,
.user-navigation a {
    color: var(--basic-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
}

.page-header-logo:hover {
    opacity: 70%;
}
.page-navigation a:hover, .user-navigation a:hover{
    color:var(--basic-button-red);
}

.page-navigation a:active, .user-navigation a:active{
    color:var(--basic-black);
    opacity: 30%;
}

.img-head {
    background-color: var(--basic-gray);
}

.nav-cart::before {
    background-image: url("../img/cart-icon-basket.svg");
} 
/* Features */
.features-img {
    background-color: var(--basic-gray);
}

.features span {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
} 

.features {
    background-color: var(--basic-gray);
}

/* Products */
.product-img3  {
    background-color: var(--basic-button-red);
}

.product-img1 {
    background-color: var(--basic-button-green);
}

.product-img2 {
    background-color: var(--basic-button-yellow);
}

.products-list {
    list-style:none;
}

.products-item p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;   
}

.products-item h3 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
}


/* About */
.about span {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

.what-do {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.about-list {
    list-style: none;
}

.about-item {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

/* Partners*/
.partners-item img {
    background-color: val(--basic-gray);
}

.partners-list {
    list-style: none;
}

.partners-item a {
    opacity: 20%;
} 

.partners-item a:hover {
    opacity: 100%;
} 

.partners-item a:active {
    opacity: 10%;
} 

/* Statistic content*/
.ill-logo {
    background-color: val(--basic-gray);
}

figcaption {
    font-weight: bold;
    font-size: 16px;  
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

dl dt .digit {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
}

dl dt .procent {
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
}

.dl dd {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

/* Contacts */
.contacts {
    background-color: var(--basic-white);
}

.contacts span {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.contacts-phone {
    color: inherit;
}

.contacts p,
.contacts .contacts-phone {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--gray-contacts);
}

.contact-img {
    background-color: val(--basic-gray);
}

/* Social */
.social-list {
    list-style:none;
}

.social-item a {
    background: var(--basic-gradient);
}

.social-item a:hover {
    background: var(--basic-gradient-hover);
}

.social-item a:active {
    background: var(--basic-gradient-active);
}

/* Copyright */
.copyright span {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}

.copyright p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

/* Modal */
.modal {
    background-color: rgba(0, 0, 0, 0,4);
    width: 960px;
    height: 590px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal h2 {
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
}

.modal label {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.modal input, textarea  {
    font:inherit;
    background-color: transparent;
    border: 2px solid var(--basic-border);
}

.modal input:hover, textarea:hover  {
    border: 2px solid var(--basic-border-hover);
}

.close {
    opacity: 30%;
}

.close:hover {
    opacity: 100%;
}

.close:active {
    opacity: 10%;
}

/*Catalog*/
.button-black-font {
    color:var(--basic-black);
}

.name-catalog-page h1 {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}

/*Filter*/

.filter-cost input {
    background: #EEEEEE;
    border-radius: 3px;
    border:none;
}

.filter-cost input {
    background: #EEEEEE;
    border-radius: 3px;
    border:none;
}

.filter-grid input,
.filter-features input {
    font:inherit;
    background-color: transparent;
    border: 2px solid var(--basic-button-yellow);
}

.filter-grid input:hover,
.filter-features input:hover {
    border: 2px solid var(--basic-button-red);
}

.filter-grid input:disabled,
.filter-features input:disabled {
    border: 2px solid var(--basic-button-green);
}

.filter legend {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-grid label,
.filter-features label {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
}

.filter-grid label:disabled,
.filter-features label:disabled {
    opacity: 30%;
}

/**/

/*Sort*/
.sorting {
    list-style:none;
}

.sort p {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.sorting-item a{
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color:var(--basic-black);
}



/*Product catalog*/

.product-catalog .product-cards {
    list-style: none;
}

.name-catalog-page {
    background-color: var(--basic-gray);
}

.product-cards-item:hover .browser{
    opacity: 100%;
}

.product-cards-item .browser {
    width: 360px;
    height: 40px;
    background-image: url("../img/state.svg");
    background-repeat: no-repeat;
    opacity: 12%;
}

/*Popup*/

.product-cards-item .popup{
    visibility: hidden;
}

.product-cards-item:hover .popup{
    visibility: visible;
}

.popup {
    background-image: url("../img/popup.svg");
    width: 360px;
    height: 231px;
    background-repeat: no-repeat;
    text-align:center;
}

.popup .name-product {
    color:inherit;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.popup .name-product:hover {
    color:var(--basic-button-red);
}

.popup .name-product:active {
    color:var(--basic-black-opacity30);
}

.button-red.button-price:active {
    color:var(--basic-white);
    opacity: 100%;
}

.popup p {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

/*Pagination*/
.pagination {
    list-style: none;
}

.pagination-item .active {
    background: rgba(0, 0, 0, 0.1);
    border: 3px solid #DBDBDB;
}

