:root {
    --basic-grey: #EEEEEE;
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    
    --special-red: #FB565A;
    --special-red-hover: #E74246;
    --special-red-active: #D7373B;
   
    --special-green: #00CA74;
    --special-green-hover: #00BC6C;
    --special-green-active: #00AA62;
   
    --special-yellow: #EFC849;
    --special-yellow-hover: #EAB534;
    --special-yellow-active: #E5A722;
    
    --special-btn-social: #E1E1E1;
    --special-grey-active: rgba(0, 0, 0, 0.3);
    --special-basic-white: rgba(0, 0, 0, 0.3);
    
    --special-black: #444444;
    --special-black-modal: rgba(0, 0, 0, 0.4);
    
    --spesial-grey-input-text: rgba(68, 68, 68, 1);
    --spesial-grey-input-text-hover: rgba(68, 68, 68, 0.5);
    --spesial-grey-input-text-focus: rgba(68, 68, 68, 1);
    --spesial-grey-input-text-nevalid:


    --spesial-grey-input: rgba(215, 220, 222, 1);
    --spesial-grey-input-hover: rgba(180, 185, 187, 1);
    --spesial-grey-input-focus:rgba(0, 0, 0, 1);
    --spesial-grey-input-nevalid:
}

.hidden {
    display: none;
}

body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    color: var(--basic-black);
    font-size: 16px;
}

/* HEADER */

h1 {
    margin: 0;
}

.page-header {
    background-color: var(--basic-grey);
}

.page-slogan {
    background-color: var(--basic-grey);
}

.logo:hover {
    opacity: 0.7;
}

.logo:active {
    opacity: 0.3;
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

.page-navigation {
    font-style: medium;
    line-height: 30px;
}

.navigation-list {
    list-style: none;
    margin-bottom: 0;
}

.navigation-item {
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
}

.navigation-list a:hover {
    color: var(--special-red);
}

.navigation-list a:active {
    color: var(--special-grey-active);
}

/* MAIN */

.slogan {
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin: 0;
}

.page-slogan:nth-child(3) {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.button {
    color: var(--basic-white);
    border-radius: 3px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 18px;
}

.button-red {
    background-color: var(--special-red);
}

.button-red:hover {
    background-color: var(--special-red-hover);
}

.button-red:active {
    background-color: var(--special-red-active);
    color: var(--special-basic-white);
}


.button-green {
    background-color: var(--special-green);
}

.button-green:hover {
    background-color: var(--special-green-hover);
}

.button-green:active {
    background-color: var(--special-green-active);
    color: var(--special-basic-white);
}

.button-yellow {
    background-color: var(--special-yellow);
}

.button-yellow:hover {
    background-color: var(--special-yellow-hover);
}

.button-yellow:active {
    background-color: var(--special-yellow-active);
    color: var(--special-basic-white);
}

.products-list {
    list-style: none;
}

.product-item h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.product-item p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.about-info .hidden+p {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

.about-info .hidden+p+p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.about-info .hidden+p+p+p {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.orders li {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.rezults-percentages td {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;

}

.rezults-name {
    font-size: 16px;
    line-height: 18px;
}


.partners-list {
    list-style: none;
}

.partner-item a {
    opacity: 0.2;
}

.partner-item a:hover {
    opacity: 1;
}

.partner-item a:active {
    opacity: 0.1;
}

/* FOOTER */

.contacts {
    background-color: var(--basic-white);
}

.contacts-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.contacts-address {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.contacts-phone {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

}


.discounts {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}


.discounts-for-friends {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--special-black)
}


.social-list {
    list-style: none;
}

.modal {
    background-color: var(--basic-white);
    box-shadow: 0px 20px 40px;
    position: absolute;
    width: 960px;
    height: 590px;
    left: 240px;
    top: 1706px;
    display: none;
}

.modal-description {

    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
}

.login-form label {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;

}

.area input {
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: red;
outline: var(--spesial-grey-input);
}

/*

.login-form input:hover {
    outline: var(--spesial-grey-input-hover);
    color: var(--spesial-grey-input-text-hover);
    }
.login-form input:focus {
    outline: var(--spesial-grey-input-hover);
    color: var(--spesial-grey-input-text-focus);
}

*/
/*RESTORE*/

.inner-page-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

fieldset legend {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.filter-list {
    list-style: none;
}

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: inherit;

}

.inner-page-heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: inherit;
    text-transform: uppercase;
}